html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  White: hsl(205, 8%, 94%)
 *  Mid light blue (banner): hsl(205, 60%, 31%)
 *  Mid dark blue (nav): hsl(205, 60%, 27%)
 *  Navy dark (headers): hsl(205, 36%, 22%)
 *  Dark blue: hsl(205, 30%, 12%)
 */

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

hr {
  margin: 1.25rem 0;
}

.btn {
  width: fit-content;
  max-width: 12rem;
  margin: 0 1rem;
  padding: 0.5rem 1.2rem;
  background: hsl(205, 60%, 27%);
  border-radius: 4px;
  color: hsl(205, 8%, 94%);
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.del-btn {
  width: fit-content;
  max-width: 8rem;
  margin: 0 1rem;
  padding: 0.5rem 1.2rem;
  background: hsl(0, 100%, 25%);
  border-radius: 4px;
  color: hsl(205, 8%, 94%);
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  float: right;
}

.del-btn-container {
  border-bottom: 1px solid hsl(210, 15%, 40%);
  border-left: 1px solid hsl(210, 15%, 40%);
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

/* Banner */
#banner {
  padding-top: 1.3rem;
  background: #1f567d;
  text-align: center;
}

#banner > h1 {
  margin: 0 2.5rem;
  padding: 1.6rem 0 0.5rem;
  color: hsl(205, 8%, 94%);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 750;
  font-size: 1.8rem;
  line-height: 1.4;
}

h2 {
  padding: 0 0 4rem 0;
  color: hsl(205, 8%, 94%);
  font-family: "Gentium Basic", Georgia, "Times New Roman", Times, serif;
  font-size: 1.1rem;
}

#nav-btn {
  padding: 1rem;
  background: hsl(205, 60%, 27%);
  color: hsl(205, 8%, 94%);
  cursor: pointer;
  font-weight: 750;
  font-size: 1.4rem;
  text-align: center;
}

#nav-btn:hover {
  background: ;
}

nav {
  display: none;
}

nav > ul {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #1b4b6d;
  color: hsl(205, 8%, 94%);
}

nav > ul > a > li {
  padding: 0.6rem 2rem;
  border-top: 1px solid #1f567d;
  color: inherit;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.01rem;
  font-weight: 400;
  text-decoration: none;
}

nav > ul > a > li:hover {
  background: #f5f6f7;
  color: hsl(205, 30%, 12%);
}

/* Breadcrumbs */
#breadcrumbs {
  display: flex;
  flex-flow: row;
  padding: 2rem 0;
}

#home-breadcrumb {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  background: hsl(205, 60%, 27%);
  color: hsl(205, 8%, 94%);
  font-size: 1.2rem;
  font-weight: 800;
}

#breadcrumbs > span {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: hsl(210, 25%, 99%);
}

#right-pointer {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  background: hsl(210, 25%, 99%);
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  border-left: 1.2rem solid hsl(205, 60%, 27%);
}

/* Content */
#content {
  background: hsl(210, 13%, 94%);
}

#content h3 {
  margin: 2rem 0;
  font-size: 2rem;
}

#content h4 {
  margin: 2rem 0;
  font-size: 1.3rem;
}

article {
  padding: 1.85rem;
  background: hsl(210, 19%, 97%);
}

article > h3 {
  color: hsl(205, 36%, 22%);
  font-size: 3rem;
  font-weight: 750;
}

article > h4 {
  color: hsl(205, 36%, 22%);
  font-size: 2rem;
  font-weight: 750;
}

article > p {
  font-family: "Gentium Basic", Georgia, "Times New Roman", Times, serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

article img {
  margin: 0.5rem 0;
}

/* Side content */
#side-content {
  margin: 4rem 2rem 0;
  padding: 1rem;
  background: hsl(210, 11%, 88%);
  border-radius: 0.35rem;
}

#side-content > h5 {
  margin: 0.5rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 750;
}

#side-content a {
  color: hsl(210, 55%, 40%);
  text-decoration: underline;
}

/* Confirmation modal */
#modal-area {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

#modal-area > section {
  background: hsl(205, 8%, 94%);
  border-radius: 4px;
}

#x-row {
  display: flex;
  justify-content: right;
  margin-bottom: 0.35rem;
  padding: 0 0.5rem;
}

#x-row > span {
  cursor: pointer;
  font-size: 2rem;
}

#modal-area > section > section {
  padding: 0 1.5rem;
}

#modal-area > section > section > input {
  margin: 1rem 0;
  padding: 0.35rem;
}

#modal-area .btn {
  margin: 0 auto 1rem;
}

/* Schedule */
#schedule-status {
  padding: 1rem;
}

#schedule-grid {
  display: grid;
  margin: 1rem;
  border: 1px solid hsl(210, 25%, 10%);
  font-family: "Gentium Basic", Georgia, "Times New Roman", Times, serif;
  font-size: 1.1rem;
}

#schedule-grid > div {
  padding: 0.5rem;
  border-bottom: 1px solid hsl(210, 15%, 40%);
}

.admin-schedule {
  grid-template-columns: 1fr 4fr 1fr;
}

.admin-schedule > div:nth-child(3n + 1) {
  border-right: 1px solid hsl(210, 8%, 50%);
}

.user-schedule {
  grid-template-columns: 1fr 4fr;
}

.user-schedule > div:nth-child(odd) {
  border-right: 1px solid hsl(210, 8%, 50%);
}

#save-schedule-btn {
  margin: 1rem auto;
}

/* Admin */
.admin-content h3 {
  padding: 0.25rem 1rem;
}

.admin-content h4 {
  padding: 1rem;
}

@media all and (min-width: 960px) {
  #nav-btn {
    display: none;
  }

  nav {
    display: block;
  }

  nav > ul {
    flex-flow: row;
  }

  nav > ul > a > li {
    padding: 0.6rem 1rem;
    border: none;
  }

  #content-panes {
    display: grid;
    grid-template-columns: 70% 30%;
  }
}
