<section id="side-content">
  <h5>LOCATION & SCHEDULE</h5>
  <p>
    <a href="https://www.google.com/maps?z=16&q=719%2Bold%2Bfallston%2Broad%2Bfallston,%2Bmaryland%2B21047">
      719 Old Fallston Road<br>
      Fallston, Maryland 21047
    </a>
    <br><br>
    FIRST DAY (SUNDAY) SCHEDULE:
    <br>
    Worship (unprogrammed), 10:30 a.m.
    <br>
    Adult First Day School 11:15 a.m.
    <br>
    Children's First Day School 10:45 a.m.
    <br>
    Child Care Available
    <br>
    Meeting for Business: first Sunday of each month
  </p>
  <hr>

  <div class="center">
    <iframe
      src="https://www.youtube.com/embed/hxjH4sa2RFI"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <p>For more Quaker videos, visit <a href="https://quakerspeak.com/">QuakerSpeak</a>.</p>
</section>
