<div>
  <div id="banner">
    <h1>LITTLE FALLS FRIENDS MEETING</h1>
    <h2><em>A Quaker Meeting in Fallston, Maryland</em></h2>
  </div>
  <nav>
    <ul>
      <a href="/schedule">
        <li>Schedule</li>
      </a>
      <a href="/about-quakerism">
        <li>About Quakerism</li>
      </a>
      <a href="/schedule">
        <li>Schedule</li>
      </a>
      <a href="/schedule">
        <li>Schedule</li>
      </a>
      <a href="/schedule">
        <li>Schedule</li>
      </a>
      <a href="/schedule">
        <li>Schedule</li>
      </a>
      <a href="/schedule">
        <li>Schedule</li>
      </a>
    </ul>
  </nav>
</div>
