<div>
  <div id="banner">
    <h1>
      <a href="/">LITTLE FALLS FRIENDS MEETING</a>
    </h1>
    <h2><em>A Quaker Meeting in Fallston, Maryland</em></h2>
  </div>
  <div id="nav-btn">Menu</div>
  <nav>
    <ul>
      <a href="/schedule">
        <li>Schedule</li>
      </a>
      <a href="/about-quakerism">
        <li>About Quakerism</li>
      </a>
      <a href="/documents">
        <li>Documents</li>
      </a>
      <a href="/our-history">
        <li>Our History</li>
      </a>
      <a href="/marriage-equality">
        <li>Marriage Equality</li>
      </a>
      <a href="/jedi">
        <li>Jedi</li>
      </a>
      <a href="/links">
        <li>Links</li>
      </a>
      <a href="/contact-us">
        <li>Contact</li>
      </a>
    </ul>
  </nav>
</div>
