<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin | Little Falls Friends Meeting</title>
    <%- include("../partials/head") %>
  </head>

  <body>

    <div class="hidden" id="modal-area">
      <section>
        <div id="x-row">
          <span>x</span>
        </div>
        <section>
          Password:<br>
          <input id="modal-input" type="password" />
        </section>
        <div class="btn" id="modal-submit">Submit</div>
      </section>
    </div>

    <%- include("../partials/banner") %>

    <div class="admin-content" id="content">

      <h3>Admin</h3>

      <h4>Change Schedule<span id="schedule-status"></span></h4>

      <div class="admin-schedule" id="schedule-grid"></div>
      <div class="btn" id="add-schedule-btn">+ Add new row</div>
      <div class="btn" id="save-schedule-btn">Save schedule</div>

    </div>

    <script src="../../scripts/admin.js" defer type="module"></script>

  </body>
</html>
