<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin | Little Falls Friends Meeting</title>
    <%- include("../partials/head") %>
  </head>

  <body>

    <%- include("../partials/banner") %>

    <div id="content">

      <h3>Admin</h3>

      <h4>Change Schedule</h4>

      <div id="schedule-grid"></div>
      <div class="btn" id="add-schedule-btn">+ Add new row</div>

    </div>

    <script src="../../scripts/admin.js" defer type="module"></script>

  </body>
</html>
