<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Little Falls Friends Meeting</title>
    <%- include("../partials/head") %>
  </head>

  <body>

    <%- include("../partials/banner") %>

    <div id="content">
      <div id="content-panes">

        <article>
          <h3>Welcome!</h3>
          <p>
            Little Falls Friends Meeting is a congregation of the Religious Society of Friends (Quakers)
            affiliated with the Baltimore Yearly Meeting. Our historic meeting house is located in Fallston,
            just outside of Bel Air, Maryland. We warmly welcome old Friends, new Friends, and all visitors
            to our Meeting.
          </p>

          <h4>Little Falls Meeting Minute for Racial Justice</h4>
          <p>
            At the core of our Quaker beliefs is the idea that every individual has within them
            “The Light of the Divine”. For this reason, we cannot stand by silently while police
            brutally impact or end the lives of Jacob Blake, George Floyd, Breonna Taylor,
            Philando Castile, Sandra Bland, Freddie Gray, Eric Garner and many others, known
            and unknown. Along with their friends and families, we mourn for them. They are the
            most recent victims of a pernicious pattern of racist actions by police and a
            continued failure of our society to prevent such tragedies.
          </p>
          <hr>

          <div class="center">
            <img src="/assets/meetinghouse.webp" />
          </div>

          <p>
            The query for June is:<br>
            <br>
            <i>Query for 6th Month: Personal Spiritual Life</i><br>
            Do you seek to understand where a person’s words come from when those words are
            strange or disturbing to you? Do you listen patiently and seek the truth that
            other people’s thoughts may contain for you? As you learn from others, are you
            willing to share with them what you in turn have learned? Do you make a practice
            of turning to the Inner Light for guidance, remembering that living in the Spirit
            is a process of discernment?

            Our belief in the universality of the Inner Light requires us to “walk cheerfully
            over the world, answering that of God in everyone” as George Fox urged. No human
            being is excluded from our sense of community, for we are led by our faith to view
            human beings as children of God rather than as stereotypes of cultures, nations,
            or ideologies. It is individual people with whom fellowship must be established,
            and each Friend must seek in the quiet of worship the personal strength to work
            at the establishment of community.
          </p>
          <hr>

        </article>

        <article id="side-content">
          <h5>LOCATION & SCHEDULE</h5>
          <p>
            <a href="https://www.google.com/maps?z=16&q=719%2Bold%2Bfallston%2Broad%2Bfallston,%2Bmaryland%2B21047">
              719 Old Fallston Road<br>
              Fallston, Maryland 21047
            </a>
            <br>
            FIRST DAY (SUNDAY) SCHEDULE:
            <br>
            Worship (unprogrammed), 10:30 a.m.
            <br>
            Adult First Day School 11:15 a.m.
            <br>
            Children's First Day School 10:45 a.m.
            <br>
            Child Care Available
            <br>
            Meeting for Business: first Sunday of each month
          </p>
          <hr>

          <iframe
            src="https://www.youtube.com/embed/hxjH4sa2RFI"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>

        </article>

      </div>
    </div>

    <script src="../../scripts/home.js" defer type="module"></script>

  </body>
</html>
