<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Little Falls Friends Meeting</title>
    <%- include("../partials/head") %>
  </head>

  <body>

    <%- include("../partials/banner") %>

    <script src="../../scripts/home.js" defer type="module"></script>

  </body>
</html>
