<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schedule | Little Falls Friends Meeting</title>
    <%- include("../partials/head") %>
  </head>

  <body>

    <%- include("../partials/banner") %>

    <div id="content">

      <div id="breadcrumbs">
        <div id="home-breadcrumb">Home</div>
        <div id="right-pointer"></div>
        <span>Schedule</span>
      </div>

      <h3>Schedule</h3>
      <p>
        Meeting for Worship: Sundays, 10:30 a.m. until 11:15 a.m., usually followed by activities.
      </p>

      <div class="user-schedule" id="schedule-grid">
        <% schedule.forEach(timeslot => { %>
          <div><%= timeslot.date %></div>
          <div><%= timeslot.agenda %></div>
        <% }); %>
      </div>

    </div>

    <script src="../../scripts/schedule.js" defer type="module"></script>

  </body>
</html>
